{{define "content"}}
<div class="container px-4 px-lg-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-5 mb-4">Create Post</h2>
            <div class="alert alert-danger d-none" id="error"></div>
                <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input required type="text" class="form-control" name="title" id="title" placeholder="Enter title">
                </div>
                <div class="form-group mb-3">
                    <label for="content">Content</label>
                    <textarea required class="form-control" name="content" id="content" rows="5" placeholder="Enter content"></textarea>
                </div>
                <button type="button" onclick="" class="btn btn-primary btn-block">Create Post</button>
        </div>
    </div>
</div>
<br>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            debugger;
            var title = $("#title").val();
            var content = $("#content").val();
            var data = JSON.stringify({
                Title: title,
                Content: content,
                Gategories: []
            });
            $.ajax({
                url: "/createPostAction",
                type: "POST",
                contentType: "application/json",
                data: data,  // Send the JSON data object
                success: function (response) {
                    debugger;
                    window.location.href = "/";  // Redirect on success
                },
                error: function (error) {
                    debugger
                    $("#error").html(error.responseText);  // Display error message
                    $("#error").show();
                    $("#error").removeClass("d-none");
                }
            });

        });
    });
</script>
{{end}}
