{{define "content"}}
<script src="front-end/static/js/scripts.js"></script>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">This call to action card is a great place to showcase some
                important information or display a clever tagline!</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <p>{{.Posts}}</p>
        {{range $post := .Posts}}
        <div class="col-md-4 mb-5" id="{{$post.ID}}">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{$post.Title}}</h2>
                    <p class="card-text">{{$post.Content}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="col-9">
                        <div class="row">
                            <p class="mb-0"><strong>{{$post.CreatedBy}}</strong></p>
                            <p class="mb-0 text-muted"> {{$post.CreatedOn}}</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                                <input type="hidden" name="postID" id="postID" value="{{$post.ID}}">
                                <input type="hidden" name="isLike" id="isLike" value="dislike">
                                <button type="submit" onclick="likeDislikePost('{{$post.ID}}','dislike')" class="btn btn-outline-danger btn-sm
                                                {{if $post.Like.IsDisliked}}
                                                custom-hover-dislike
                                                {{end}}">
                                    <i class="bi bi-hand-thumbs-down"></i>
                                </button>
                                <input type="hidden" name="postID" value="{{$post.ID}}">
                                <input type="hidden" name="isLike" value="like">
                                <button type="submit" onclick="likeDislikePost('{{$post.ID}}','like')" class="btn btn-outline-success btn-sm
                                                {{if $post.Like.IsLiked}}
                                                custom-hover-like
                                                {{end}}">
                                    <i class="bi bi-hand-thumbs-up"></i>
                                </button>
                        </div>
                        <button class="btn btn-primary btn-sm ms-2">View Comments</button>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

{{end}}