{{define "content"}}
<script src="front-end/static/js/scripts.js"></script>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Explore, engage, and expand your knowledge with our community forum.</p>
        </div>
    </div>
    <div class="mb-3 d-flex flex-row gap-2">
        <label for="categories" class="m-auto">Categories</label>
        <select class="form-control" name="categories" id="categories">
            <option selected value="All">All</option>
            {{range .Categories}}
            <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {{range $post := .Posts}}
        <div class="col-md-4 mb-5 {{range $cat := $post.Categories}} {{$cat}} {{end}}" id="{{$post.ID}}">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{$post.Title}}</h2>
                    <p class="card-text">{{$post.Content}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="col">
                        <div class="row">
                            <p class="mb-0"><strong>{{$post.CreatedBy}}</strong></p>
                            <p class="mb-0 text-muted"> {{$post.CreatedOn}}</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="d-flex flex-row-reverse mb-2 gap-2">
                                <button type="button" id="dislike-btn-{{$post.ID}}"
                                    onclick="likeDislikePost('{{$post.ID}}','dislike')"
                                    class="btn btn-outline-danger btn-sm {{if $post.Like.IsDisliked}} custom-hover-dislike {{end}}">
                                    <p id="dislike-count-{{$post.ID}}" class="d-inline">
                                        {{$post.Like.CountDislikes}}
                                    </p>
                                    <i class="bi bi-hand-thumbs-down"></i>
                                </button>
                                <button type="button" id="like-btn-{{$post.ID}}"
                                    onclick="likeDislikePost('{{$post.ID}}','like')"
                                    class="btn btn-outline-success btn-sm {{if $post.Like.IsLiked}} custom-hover-like {{end}}">
                                    <p id="like-count-{{$post.ID}}" class="d-inline">
                                        {{$post.Like.CountLikes}}
                                    </p>
                                    <i class="bi bi-hand-thumbs-up"></i>
                                </button>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-sm" href="/post?id={{$post.ID}}">View Comments</a>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
<script>
    $("#categories").on("change", function () {
        const category = $(this).val();
        if (category === "All") {
            $(".col-md-4").show();
        } else {
            $(".col-md-4").hide();
            $("." + category).show();
        }
    }); 
</script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('categories').value = 'All';
    });
</script>
{{end}}