{{define "content"}}
<script src="front-end/static/js/scripts.js"></script>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Post Content-->
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
            <!-- Title-->
            <h1 class="mt-4">{{.Post.Title}}</h1>
            <!-- Content-->
            <p class="lead">{{.Post.Content}}</p>
            <!-- Author-->
            <p class="lead">
            <p>by {{.Post.CreatedBy}} - {{.Post.CreatedOn}}</p>
            </p>
            <hr>
            <!-- Comments Section -->
            <h2>Comments</h2>
            <div id="commentsContainer">
                {{range $comment := .Post.Comments}}
                <div class="card mb-4" id="{{$comment.ID}}">
                    <div class="card-body">
                        <p class="card-text">{{$comment.Content}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex flex-row gap-2">
                            <div style="margin: auto auto auto 0">
                                Posted by {{$comment.CreatedBy}} on {{$comment.CreatedOn}}
                            </div>

                            <button type="submit" onclick="likeDislikeComment('{{$comment.ID}}','like')"
                                    id="like-btn-{{$comment.ID}}"
                                    class="btn btn-outline-success btn-sm
                                           {{if $comment.Like.IsLiked}} custom-hover-like {{end}}">
                                <p id="like-count-{{$comment.ID}}" class="d-inline">
                                    {{$comment.Like.CountLikes}}
                                </p>
                                <i class="bi bi-hand-thumbs-up"></i>
                            </button>

                            <button type="submit" onclick="likeDislikeComment('{{$comment.ID}}','dislike')"
                                id="dislike-btn-{{$comment.ID}}" class="btn btn-outline-danger btn-sm
                                {{if $comment.Like.IsDisliked}} custom-hover-dislike {{end}}">
                                <p id="dislike-count-{{$comment.ID}}" class="d-inline">
                                    {{$comment.Like.CountDislikes}}
                                </p>
                                <i class="bi bi-hand-thumbs-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
            <hr>
            <div class="alert alert-danger d-none" id="error"></div>
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <textarea class="form-control" id="comment" rows="3" placeholder="Comment"></textarea>
                    </div>
                    <button type="button" onclick="submitComment('{{.Post.ID}}')" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/front-end/static/js/comment.js"></script>
{{ end }}